.btn {
	font-size: 27px;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	outline: none;
	background-color: #fd7532;
	border: none;
	box-shadow: 0px 3px #cc5b24, 0px 3px 13px rgba(204, 91, 36, 0.5);
	border-radius: 5px;
	padding: 17px 20px;
	padding-left: 27px;
	padding-top: 16px;
	padding-bottom: 18px;
	display: block;
	width: 100%;
	max-width: 220px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	font-family: inherit;
	transition: 0.1s;
	&:hover,
	&:focus {
		background-image: linear-gradient(to right, #fb6c35 0%, #f23748 100%);
		box-shadow: 0px 3px #da3732, 0px 3px 13px rgba(204, 91, 36, 0.5);
	}
	&:active {
		box-shadow: 0px 0px #cc5b24, 0px 0px 0px rgba(204, 91, 36, 0);
		transform: translateY(2px);
		transition: 0.1s;
	}
}