.header {
	padding-top: 20px;
	padding-bottom: 100px;
	background-color: #3b374f;
	color: #fff;
	.container {
		position: relative;
	}
	&__top {
		display: flex;
		justify-content: space-between;
	}
	&__content {
		display: flex;
		align-items: flex-start;
		margin-top: 18px;
	}
	&__about {
		max-width: 360px;
	}
	&__title {
		font-size: 60px;
		line-height: 50px;
		margin-bottom: 20px;
		font-weight: 900;
	}
	&__subtitle {
		font-size: 25px;
		line-height: 32px;
		margin-bottom: 20px;
		padding-left: 50px;
	}
	&__item {
		font-size: 20px;
		line-height: 24px;
		padding-left: 50px;
		&:nth-of-type(n+2) {
			margin-top: 20px;
		}
		b {
			font-size: 22px;
			color: #ffc60d;
		}
	}
	&__prod {
		position: absolute;
		left: 400px;
		bottom: 0;
	}
	.form {
		margin-top: 39px;
	}
	&__people {
		position: absolute;
	}
}