.header-bullit {
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 4px solid #ffc60d;
	background-color: #3b374f;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	&::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		background-image:  url(../img/header__check.svg);
		background-repeat: no-repeat;
		background-position: 50%;
		box-sizing: border-box;
		background-clip: border-box;
		left: 55%;
		top: 41%;
		transform: translateX(-50%) translateY(-50%);
	}
	&::after {
		content: '';
		display: block;
		position: absolute;
		height: 2px;
		width: 23px;
		background-color: rgba(255, 255, 255, 0.15);
		top: 50%;
		right: -24px;
		transform: translateY(-50%);
	}
}

@media screen and (max-width: 1189px) {
	.header-bullit {
		height: 40px;
		width: 40px;
		border-width: 3px;
		&::before {
			background-size: contain;
			height: 90%;
			width: 90%;
		}
	}
}
@media screen and (max-width: 1023px) {
	
} 
@media screen and (max-width: 767px) {
	
} 
@media screen and (max-width: 639px) {
	
} 
@media screen and (max-width: 479px) {
	
} 