.header-bullit {
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 4px solid #ffc60d;
	left: 0;
	&::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		// border: 4px solid #ffc60d;
		background-image:  url(../img/header__check.svg);
		background-repeat: no-repeat;
		background-position: 50%;
		box-sizing: border-box;
		background-clip: border-box;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}