.header {
	padding-top: 20px;
	padding-bottom: 84px;
	background-color: #3b374f;
	color: #fff;
	background-image: url(../img/deer.png);
	background-position: -366px -1px;
	background-size: 1400px;
	position: relative;
	.container {
		position: relative;
	}
	&__top {
		display: flex;
		justify-content: space-between;
	}
	&__content {
		display: flex;
		align-items: flex-start;
		margin-top: 18px;
	}
	&__about {
		max-width: 360px;
	}
	&__title {
		font-size: 60px;
		line-height: 50px;
		margin-bottom: 23px;
		font-weight: 900;
	}
	&__subtitle {
		font-size: 25px;
		line-height: 32px;
		margin-bottom: 36px;
		padding-left: 90px;
		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			background-color: #ffc60d;
			height: 4px;
			width: 69px;
			left: 0;
			top: 16px;
		}
	}
	&__item {
		font-size: 20px;
		line-height: 24px;
		padding-left: 90px;
		position: relative;
		&:nth-of-type(n+2) {
			margin-top: 28px;
		}
		b {
			font-size: 22px;
			color: #ffc60d;
			font-weight: 700;
		}
	}
	&__prod {
		position: absolute;
		left: 514px;
		bottom: -199px;
		z-index: 1;
	}
	.form {
		margin-top: 38px;
	}
	&__people {
		position: absolute;
		bottom: 1px;
		left: calc(50% - 296px);
	}
}