.logo {
	display: flex;
	text-align: right;
	margin-top: 6px;
	&__img {
		margin-top: 5px;
	}
	&__name {
		font-size: 39px;
		color: #ffc60d;
		font-weight: bold;
		transform: scaleX(0.8);
		line-height: 1;
		position: relative;
		bottom: 4px;
	}
	&__desc {
		font-size: 13px;
		font-weight: 300;
		transform: scaleY(0.85);
		padding-right: 19px;
	}
}