.nav {
	width: 100%;
	max-width: 360px;
	&__list {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		position: relative;
		padding-top: 50px;
	}
	&__link {
		color: #222;
		font-size: 17px;
	    background: repeating-linear-gradient(to right, #444 0px, #444 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 3px);
	    background-repeat: repeat-x;
	    background-position: 0 98%;
	    background-size: 3px 1px;
	    transition: 0.3s;
	    &:hover {
	    	background-size: 3px 0px;
	    	background-position: 0 100%;
	    	transition: 0.3s;
	    }
	}
}