.footer {
	font-size: 16px;
	line-height: 1;
	color: #666;
	padding: 100px 0 20px;
}

.footer__wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__logo {
	max-width: 54px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}

.footer__privacy {
	color: #666666;
	text-align: center;
	display: block;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

@include r(1189){
	.footer {
		padding-top: 70px;
	}
}

@include r(1023){
	.footer {
		padding-top: 20px;
	}
}


