<section class="reviews block">
	<div class="container">
		<h2 class="title">Отзывы</h2>
		<div class="reviews__list">
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img"><img src="./img/reviews__img-1.jpg" alt=""></div>
					<h3 class="reviews__name">Ванги, 38 лет, Джакарта</h3>
				</div>
				<div class="reviews__body">
					<p class="reviews__quote">“Боль прошла сразу же”</p>
					<p class="reviews__text">Я раньше скептически относилась к лечению суставов кремами. С препаратом на основе масла ши меня познакомила свекровь. Она женщина в возрасте, много лечится, и много пробует новых лекарств. А пожаловалась я ей однажды на колено, хруст при сгибании, отек и боль по ночам. Она вручила мне упаковку и дала инструкцию, и сказала от инструкции ни на шаг не отклоняться. Боль прошла буквально сразу же, как только намазалась. Но я продолжала наносить крем по инструкции на протяжении примерно месяца. После лечения прошло уже примерно полгода, колено меня больше не беспокоит.</p>
				</div>
				<button class="reviews__more"></button>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img"><img src="./img/reviews__img-2.jpg" alt=""></div>
					<h3 class="reviews__name">Мелати, 23 года, Паданг</h3>
				</div>
				<div class="reviews__body">
					<p class="reviews__quote">“У бабушки боль в спине на второй день прошла”</p>
					<p class="reviews__text">Я учусь в медицинском, и кое-что понимаю в лечении суставов. Как узнала о препарате Артропант, внимательно изучила результаты клинических исследований, состав и действие. Была поражена, как грамотно масло ши смогли объединить с другими компонентами, что такие действенные результаты. Посоветовалась с нашим преподавателем, показала ему этот препарат - он сказал, что это и правда хорошая находка. Недавно привезла Артропант своей бабушке. И бабушке помогло, боль в спине уже на 2-й день прошла.</p>
				</div>
				<button class="reviews__more"></button>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img"><img src="./img/reviews__img-3.jpg" alt=""></div>
					<h3 class="reviews__name">Диан, 25 лет, Макасар</h3>
				</div>
				<div class="reviews__body">
					<p class="reviews__quote">“Колено полностью восстановилось”</p>
					<p class="reviews__text">Я 2 года мучилась от боли в колене. По рекомендациям врача и знакомых я перепробовала 8 средств для суставов. Не помогло ни одно из них. Врач все подбивал на операцию. Решили с мужем продать машину, чтоб оплатить операцию и лекарства. Уже и покупатель нашелся - Бима. Муж при осмотре машины проговорился Биме, что продает ее, чтобы мне операцию на колене сделать. Оказалось, Бима - ортопед, и своих пациентов лечит при помощи Артропанта. По его наводке заказала этот препарат, и месяц его мазала. Колено полностью восстановилось, машину нам продавать не пришлось, а с Бимой мы теперь семьями дружим.</p>
				</div>
				<button class="reviews__more"></button>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img"><img src="./img/reviews__img-4.jpg" alt=""></div>
					<h3 class="reviews__name">Раджа, 54 года, Батам</h3>
				</div>
				<div class="reviews__body">
					<p class="reviews__quote">“Боли в пальцах прошли через 10 дней”</p>
					<p class="reviews__text">У меня болели кисти рук, болели пальцы, и немного колени в придачу. Я уже давно знаю, что таблетки вредны. Все эти яды, которые в них добавляют, не выводятся из организма. Я искал безвредное средство, и на форуме нашел Артропант. Сначала подумал - дорого, а потом подсчитал, сколько за год тратил на другие средства, которые нужно было по полгода мазать. Получилось, я с Артропантом раза в три больше денег сэкономлю. Я взял этот препарат себе и сестре, потому что у нее болела спина и колено. У меня боли в пальцах прошли через 10 дней, у сестры тоже проблемы ушли быстро, дня на 2 или 3 позже. Уже прошло два месяца, полет нормальный.</p>
				</div>
				<button class="reviews__more"></button>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img"><img src="./img/reviews__img-5.jpg" alt=""></div>
					<h3 class="reviews__name">Батари, 59 лет, Джакарта</h3>
				</div>
				<div class="reviews__body">
					<p class="reviews__quote">“Самое приятное - я перестала зависеть от врачей”</p>
					<p class="reviews__text">Пальцы на руках у меня болели уже около 6 лет. Суставы то больше воспалялись, то чуть меньше, но полностью боль не проходила никогда. Я уже и компрессы с мазью накладывала, что только не делала... Но со временем становилось только хуже. Я согласилась на инъекции в суставы. Крайне неприятная процедура. И повторять ее нужно регулярно. Недавно увидела в интернете рекламу Артропанта, заказала его. Втирала его месяц, как в инструкции написано, хотя пальцы болеть перестали уже через неделю после начала курса! Я даже вспомнила, как в юности на пианино играла! Самое приятное - я перестала зависеть от врачей, а мои руки снова стали послушными!</p>
				</div>
				<button class="reviews__more"></button>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img"><img src="./img/reviews__img-6.jpg" alt=""></div>
					<h3 class="reviews__name">Мавар, 39 лет, Кута</h3>
				</div>
				<div class="reviews__body">
					<p class="reviews__quote">“Снова чувствую себя подвижной”</p>
					<p class="reviews__text">Я принимала Артропант в комплексе с другими препаратами, которые выписал мне доктор при остеохондрозе. Мне понравилось то, что его удобно принимать, крем хорошо впитывается, и воспаления моментально снимает. Плюс не химия какая-то, а масло ши. Лечение прошло успешно, и я снова чувствую себя подвижной. Рецидивы пока не проявлялись.</p>
				</div>
				<button class="reviews__more"></button>
			</div>
			<div class="reviews__item">
				<div class="reviews__head">
					<div class="reviews__img"><img src="./img/reviews__img-7.jpg" alt=""></div>
					<h3 class="reviews__name">Касих, 28 лет, Семаранг</h3>
				</div>
				<div class="reviews__body">
					<p class="reviews__quote">“Приятненький крем”</p>
					<p class="reviews__text">Кто бы мог подумать, что одно падение изменит всю мою жизнь. Я упала на локтевой сустав и сильно травмировала его. Вылечила свой локоть, но он все равно периодически давал о себе знать, на погоду, на смену климата, сильными болями. Мой молодой человек скинул ссылку на препарат Артропант, новый растительный препарат для суставов. Заказала и приступила к лечению. Мазала его честно говоря где-то через день, забывала иногда им попользоваться. Пахнет приятно, впитывается хорошо, приятненький крем. Вот уже месяц прошел после окончания курса, вроде ничего не болит.</p>
				</div>
				<button class="reviews__more"></button>
			</div>
		</div>
		<p class="reviews__footnote">* Результаты применения препарата могут отличаться<br> <span class="text-nowrap">из-за индивидуальных</span> особенностей организма</p>
	</div>
</section>