<section class="header header-bottom">
	<div class="circle">
		<span class="circle__inner"></span>
	</div>
    <div class="container">
    	<div class="header__content">
    		<div class="header__about">
    			<h1 class="header__title">Избавьтесь <span class="text-nowrap">от боли</span> <span class="text-nowrap">в суставах</span></h1>
    			<h2 class="header__subtitle">за 1 курс применения Артропанта</h2>
	    		<ul class="header__list">
	    			<li class="header__item"><span class="header-bullit"></span><b>Останавливает</b><br> боль с первых<br> применений</li>
	    			<li class="header__item"><span class="header-bullit"></span><b>Запускает</b><br> восстановление<br> суставов</li>
	    			<li class="header__item"><span class="header-bullit"></span><b>Помогает</b><br> предотвратить<br> осложнения</li>
	    		</ul>
	    	</div>
	    	<div class="header__prod">
	    		<img src="./img/product.png" alt="">
	    	</div>
    		<div class="form">
    		<h2 class="form__title">Закажите сейчас<br> <span class="form__for-share">по Акции</span></h2>
    		<div class="price">
				<div class="price__old">
					<p class="price__title price__title--old">Старая цена</p>
					<div class="price__value price__value--old">
						<span class="price__num price__num--old x_price__previous">1980</span>
						<span class="price__currency price__currency--old x_currency">руб</span>
					</div>
				</div>
				<div class="price__new">
					<p class="price__title price__title--new">Ваша цена</p>
					<div class="price__value price__value--new">
						<span class="price__num price__num--new x_price__current">990</span>
						<span class="price__currency price__currency--new x_currency">руб</span>
					</div>
				</div>
			</div>
			<!-- for header-bottom -->
			<h3 class="form__lastpack">Осталось упаковок <span class="text-nowrap">со скидкой:</span> <span class="lastpack">15</span></h3>
			<form action="/submit" method="post" class="x_order_form">
				<label class="form__label form__label--name">
					<input class="form__input" type="text" placeholder="Моё имя" name="name" required autocomplete="name">
				</label>
				<label class="form__label form__label--tel">
					<input class="form__input" type="tel" placeholder="Мой телефон" name="phone" required autocomplete="tel">
				</label>
				<button class="btn">Заказать</button>
				<!-- <p class="form__footnote">* при заказе курса</p> -->
			</form>
			<p class="form__pay-after">Оплата после получения</p>
    	</div>
    	</div>
    </div>
    <div class="header__people">
    		<img src="./img/header__people.png" alt="">
    	</div>
</section>
