<section class="consist block" id="consist">
    <div class="circle consist__circle">
        <span class="circle__inner consist__circle-inner"></span>
    </div>
    <div class="container consist__container">
        <div class="consist__content">
            <div class="consist__prod">
                <h2 class="consist__title title">
                    Натуральный <br>
                    состав <br>
                    <span class="consist__title-orange">Артропанта</span>
                </h2>
                <img src="img/product.png" alt="product" class="consist__prod-img">
            </div>
            <div class="consist__list">
                <div class="consist__item consist__item--1">
                    <div class="consist__item-img consist__item-img--1">
                        <img src="img/consist__img-1.png" alt="consist" class="consist__item-foto">
                    </div>
                    <div class="consist__item-des">
                        <h3 class="consist__item-title">
                            Масло Ши
                        </h3>
                        <span class="consist__item-line"></span>
                        <p class="consist__item-text">
                            <span class="consist__item-text--bold">Снимает воспаление</span> в суставе, благодаря улучшению микроциркуляции крови
                        </p>
                    </div>
                </div>
                <div class="consist__item consist__item--2">
                    <div class="consist__item-img consist__item-img--2">
                        <img src="img/consist__img-2.png" alt="consist" class="consist__item-foto">
                    </div>
                    <div class="consist__item-des">
                        <h3 class="consist__item-title">
                            Пантенол
                        </h3>
                        <span class="consist__item-line"></span>
                        <p class="consist__item-text">
                            <span class="consist__item-text--bold">Помогает снять боль,</span> устранить отеки
                            и покраснения, усиливает действие
                            масла Ши, благодаря мощному противовоспалительному эффекту
                        </p>
                    </div>
                </div>
                <div class="consist__item consist__item--3">
                    <div class="consist__item-img consist__item-img--3">
                        <img src="img/consist__img-3.png" alt="consist" class="consist__item-foto">
                    </div>
                    <div class="consist__item-des">
                        <h3 class="consist__item-title">
                            Ацетат витамина Е
                        </h3>
                        <span class="consist__item-line"></span>
                        <p class="consist__item-text">
                            <span class="consist__item-text--bold">Ускоряет восстановление,</span> сустава,
                            благодаря участию в процессе обмена
                            в тканях, обладает антиоксидантным
                            эффектом
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn consist__btn ever-popup-btn">
            Заказать Artropant
        </div>
    </div>
</section>