.consist {
  position: relative;
  z-index: 0;
  padding-top: 119px;
  padding-bottom: 111px;
  background-color: #3b374f;

  & &__circle {
    height: 100%;
    &-inner {
      height: 970px;
      background-image: none;
      top: -16px;
    }
  }


  &__container {
    position: relative;
    z-index: 2;
  }

  & &__title {
    line-height: 48px;
    text-align: left;
    color: #ffffff;

    &-orange {
      color: #fbc002;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__prod {
    width: 500px;

    &-img {
      margin-top: 54px;
    }
  }

  &__list {
    width: 670px;
  }

  &__item {
    width: 100%;
    display: flex;
    align-items: flex-start;

    &--1 {
      margin-top: 15px;
    }
    &--2 {
      margin-top: 37px;
    }
    &--3 {
      margin-top: 50px;
    }

    &-img {
      width: 270px;
      &--1 {
        padding-right: 22px;
        padding-top: 9px;
      }
      &--2 {
        padding-right: 38px;
        padding-top: 40px;
      }
      &--3 {
        padding-right: 40px;
        padding-top: 27px;
      }
    }

    &-foto {
      display: block;
      margin-left: auto;
    }

    &-des {
      width: 400px;
    }

    &-title {
      color: #222222;
      font-size: 25px;
      font-weight: 700;
      line-height: 25px;
    }
    &-line {
      display: block;
      width: 30px;
      height: 3px;
      background-color: #fbc002;
      margin-top: 16px;
    }
    &-text {
      line-height: 28px;
      margin-top: 14px;
      color: #444444;
      font-size: 20px;
      font-weight: 400;
      &--bold {
        color: #222222;
        font-weight: 500;
      }
    }
  }

  &__btn {
    margin-top: 33px;
    margin-right: auto;
    margin-left: auto;
    max-width: 280px;
    font-size: 26px;
  }
}









