<section class="how block wave">
    <div class="container how__container">
        <img src="img/logo.png" alt="logo" class="how__logo">
        <h2 class="how__title title">
            Как применять <span class="joint__title-orange">Артропант</span>
        </h2>
        <div class="how__content">
                <div class="how__item">
                    <span class="how__item-el">
                        1
                    </span>
                    <img src="img/how__img-1.jpg" alt="foto" class="how__item-img">
                    <p class="how__item-text">
                        Нанесите на проблемную
                        зону
                    </p>
                </div>
                <div class="how__item">
                    <span class="how__item-el">
                        2
                    </span>
                    <img src="img/how__img-2.jpg" alt="foto" class="how__item-img">
                    <p class="how__item-text">
                        Вотрите массажными
                        движениями
                    </p>
                </div>
                <div class="how__item">
                    <span class="how__item-el">
                        3
                    </span>
                    <img src="img/how__img-3.jpg" alt="foto" class="how__item-img">
                    <p class="how__item-text">
                        Повторяйте 2 раза <br>
                        в день
                    </p>
                </div>
        </div>
            <div class="how__footer">
                <span class="how__footer-el">
                    <img src="img/how__cal.svg" alt="el">
                    <span class="how__footer-num">30</span>
                </span>
                <p class="how__footer-text">
                    Рекомендованный курс –
                    от 30 дней
                </p>
            </div>
    </div>
</section>
