<section class="pain block">
    <div class="container">
        <h2 class="title pain__title">
            Если запустить болезни суставов,
            они могут приносить нестерпимую боль
        </h2>
        <div class="pain__content">
            <div class="pain__item">
                <span class="pain__item-el">
                    1
                </span>
                <img src="img/pain__img-1.jpg" alt="foto" class="pain__item-img">
                <h3 class="pain__item-title">
                    Артрит
                </h3>
                <span class="pain__item-line"></span>
                <p class="pain__item-text">
                    Могут появиться, отеки,
                    за ними интенсивная боль, возможно повышение температуры
                </p>
            </div>
            <div class="pain__item">
                <span class="pain__item-el pain__item-el--odd">
                    2
                </span>
                <img src="img/pain__img-2.jpg" alt="foto" class="pain__item-img">
                <h3 class="pain__item-title">
                    Артроз
                </h3>
                <span class="pain__item-line"></span>
                <p class="pain__item-text">
                    Движения в суставе будут сопровождаться постоянным грубым хрустом с сильной болью
                </p>
            </div>
            <div class="pain__item">
                <span class="pain__item-el">
                    3
                </span>
                <img src="img/pain__img-3.jpg" alt="foto" class="pain__item-img">
                <h3 class="pain__item-title">
                    Бурсит
                </h3>
                <span class="pain__item-line"></span>
                <p class="pain__item-text">
                    Может возникнуть припухлость, которая
                    при движении вызывает острые болезненные ощущения
                </p>
            </div>
            <div class="pain__item">
                <span class="pain__item-el pain__item-el--odd">
                    4
                </span>
                <img src="img/pain__img-4.jpg" alt="foto" class="pain__item-img">
                <h3 class="pain__item-title">
                    Остеоартроз
                </h3>
                <span class="pain__item-line"></span>
                <p class="pain__item-text">
                    Начнут возникать регулярные ноющие боли, которые со временем будут становится только сильнее
                </p>
            </div>
        </div>

        <h3 class="pain__footer-title">
            <span class="pain__footer-inner">
                Вывод
            </span>
        </h3>
        <p class="pain__footer-text">
            Болезненные заболевания суставов следует вовремя предотвратить!
        </p>
        <div class="pain__btn btn ever-popup-btn">
            Заказать Artropant
        </div>
    </div>
</section>