<section class="order block wave">
	<div class="container">
		<h2 class="title">Как заказать доставку<br> <span class="order__orange-text">Артропанта</span></h2>
		<div class="order__list">
			<div class="order__item order__item--1">
				<span class="order__count order__count--1">01</span>
				<h3 class="order__title">Заполните форму заказа</h3>
				<p class="order__desc">Укажите только свое имя и номер телефона</p>
			</div>
			<div class="order__item order__item--2">
				<span class="order__count order__count--2">02</span>
				<h3 class="order__title">Ответьте на звонок оператора</h3>
				<p class="order__desc">Он уточнит ваши адресные данные <span class="text-nowrap">и ответит</span> на все вопросы об Артропанте</p>
			</div>
			<div class="order__item order__item--3">
				<span class="order__count order__count--3">03</span>
				<h3 class="order__title">Оплатите после получения</h3>
				<p class="order__desc">Никаких предоплат!</p>
			</div>
		</div>
	</div>
</section>