<section class="joint block wave">
    <div class="container joint__container">
        <img src="img/logo.png" alt="logo" class="joint__logo">
        <h2 class="title joint__title">
            Как <span class="joint__title-orange">Артропант</span> предотвращает боль
            и осложнения суставных болезней
        </h2>
        <div class="joint__content">
            <div class="joint__item joint__item--f">
                <span class="joint__item-el">
                    1
                </span>
                <h3 class="joint__item-title">
                    Проникает
                </h3>
                <span class="joint__item-line"></span>
                <p class="joint__item-text">
                    Действующие вещества легко проникают в глубокие ткани сустава
                </p>
            </div>
            <div class="joint__item joint__item--foto">
                <img src="img/joint.png" alt="joint" class="joint__item-img">
            </div>
            <div class="joint__item joint__item--last">
                <span class="joint__item-el">
                    2
                </span>
                <h3 class="joint__item-title">
                    Действует
                </h3>
                <span class="joint__item-line"></span>
                <p class="joint__item-text">
                    Улучшает кровоснабжение, успокаивает воспаления, помогает хрящам восстанавливаться
                </p>
            </div>
            <div class="joint__item joint__item--f">
                <span class="joint__item-el">
                    3
                </span>
                <h3 class="joint__item-title">
                    Дает результат
                </h3>
                <span class="joint__item-line"></span>
                <p class="joint__item-text">
                    Боль больше
                    не возвращается
                </p>
            </div>
        </div>
    </div>
</section>