<div class="ever-popup-build">
		<div class="popup" id="cloneThis">
			<div class="circle">
				<span class="circle__inner"></span>
			</div>
			<div class="popup__flex">
				<div class="popup__left">
					<div class="logo">
		    			<div class="logo__img">
		    				<img src="./img/logo.png" alt="">
		    			</div>
		    			<div class="logo__text">
		    				<p class="logo__desc">cream for joints</p>
		    				<p class="logo__name">Artropant</p>
		    			</div>
	    			</div>
	    			<div class="popup__prod">
	    				<img src="./img/product.png" alt="">
	    			</div>
				</div>
				<div class="form">
	    		<h2 class="form__title">Закажите сейчас<br> <span class="form__for-share">по Акции</span></h2>
	    		<div class="price">
					<div class="price__old">
						<p class="price__title price__title--old">Старая цена</p>
						<div class="price__value price__value--old">
							<span class="price__num price__num--old x_price__previous">1980</span>
							<span class="price__currency price__currency--old x_currency">руб</span>
						</div>
					</div>
					<div class="price__new">
						<p class="price__title price__title--new">Ваша цена</p>
						<div class="price__value price__value--new">
							<span class="price__num price__num--new x_price__current">990</span>
							<span class="price__currency price__currency--new x_currency">руб</span>
						</div>
					</div>
				</div>
				<!-- for header-bottom -->
				<h3 class="form__lastpack">Осталось упаковок <span class="text-nowrap">по акции:</span> <span class="lastpack">15</span></h3>
				<form action="/submit" method="post" class="x_order_form">
					<label class="form__label form__label--name">
						<input class="form__input" type="text" placeholder="Моё имя" name="name" required="" autocomplete="name">
					</label>
					<label class="form__label form__label--tel">
						<input class="form__input" type="tel" placeholder="Мой телефон" name="phone" required="" autocomplete="tel">
					</label>
					<button class="btn">Заказать</button>
					<!-- <p class="form__footnote">* при заказе курса</p> -->
				</form>
				<p class="form__pay-after">Оплата после получения</p>
	    	</div>
			</div>
		</div>
	</div>